@font-face {
  font-family: Nexon-gothic-bold;
  src: url("../NEXON-Gothic-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Nexon-gothic;
  src: url("../NEXON-Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#app {
  font-family: Nexon-gothic-bold, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#current-location-button {
  z-index: 10;
  position: fixed;
  bottom: 35px;
  left: 35px;
}
