.text-balloon-box {
  bottom: 77px;
  border-radius: 30px / 30px;
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.5);
  background-color: #FFFFFF !important;
  min-width: 150px;
  padding: 6px 12px;
  font-size: 14px;
}

.close {
  width: 18px;
  height: 18px;
  background-image: url("../close.png");
  position: absolute;
  top: -0.4rem;
  right: 0.2rem;
  opacity: 0.9;
}

.text-balloon-box::after {
  border-left: 11px solid transparent;
  border-top: 13px solid white;
  border-right: 11px solid transparent;
  content: "";
  position: absolute;
  bottom: -13px;
  right: 63px;
}

.text-balloon-box:hover {
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.text-balloon-title {
  width: auto;
  right: 90%;
}

.text-balloon-text {
  font-weight: bold;
}
